---
interface Props {
  groupNumber: number;
  cardNumber: number;
}
import { Image } from "astro:assets";
import illustration1 from "../assets/illustration-1.avif";
import illustration2 from "../assets/illustration-2.avif";
import illustration3 from "../assets/illustration-3.avif";
import illustration4 from "../assets/illustration-4.avif";

const { groupNumber, cardNumber } = Astro.props;
---

<div class="card">
  <div class="image-container">
    <Image
      src={groupNumber === 1
        ? illustration1
        : groupNumber === 2
          ? illustration2
          : groupNumber === 3
            ? illustration3
            : illustration4}
      alt="Illustration"
    />
  </div>
  <div class="text">
    <h3>Group {groupNumber} | CardBlock {cardNumber}</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia
      enim voluptates quisquam non eius.
    </p>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #f6f6f6;
    border-radius: 4px;
    overflow: hidden;
    height: 100%;

    .image-container {
      aspect-ratio: 16 / 9;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 12px 16px 20px 16px;

      h3,
      p {
        margin: 0;
      }
    }
  }

  @container content-area (min-width: 400px) {
    .card {
      .text {
        h3 {
          font-size: 18px;
          margin-top: auto;
        }
      }
    }
  }

  @container content-area (min-width: 1120px) {
    .card {
      .text {
        h3 {
          font-size: 18px;
          margin-top: auto;
        }
      }
    }
  }
</style>
