<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    max-width: 1168px;
    margin: 0 auto;
    font-family: monospace;
    padding: 0 24px 96px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    min-width: 0;
  }
</style>
